footer
  div.container-fluid
    div.row
      div.col-md-6.col-md-offset-3
        div.text-center Presented by Shahar Ozeri, Alex Lavrentev & Diana Margolin


  script(src="/js/lib/jquery.min.js")
  script(src="/js/lib/bootstrap.min.js")

